body {
    background-image: url("../images/westerosDrawing.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

h1 {
    color: green;
}

#guessLogo {
    height: 200px;
}

.logoBox {
    display: flex;
    justify-content: center;
}

.tan {
    background: #E6D7B7;
}

.goldBorder {
    border: 2px solid goldenrod;
}